// Variables
@dark: #04011c;
@magenta: #df1cff;
@pink: #ea0070;
@bright-blue: #1ee0e1;
@transparent-white: hsl(0 0 100 3%);
@dark-blue: #0d0d2d;

//Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-wrap: balance;
  font-family: Axiforma;
}

//Start

body {
  background: @dark;
}
